<section class="top-space-margin half-section bg-gradient-very-light-gray">
    <div class="container">
        <div class="row align-items-center justify-content-center"
             data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [-15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 300, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 200, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
            <div class="col-12 col-xl-8 col-lg-10 text-center position-relative page-title-extra-large">
                <h1 class="alt-font fw-600 text-dark-gray mb-10px">About</h1>
            </div>
            <div class="col-12 breadcrumb breadcrumb-style-01 d-flex justify-content-center">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="pt-0 ps-8 pe-8 lg-ps-3 lg-pe-3 position-relative xs-px-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img src="~/images/aboutmain.jpg" class="w-100"/>
                <div class="absolute-middle-left top-0px left-15 w-170px h-170px border-radius-100 sm-w-110px sm-h-110px sm-left-15px">
                    <img src="~/images/demo-fashion-store-about-03.png"
                         class="position-absolute top-50 translate-middle-y">
                    <img src="~/images/demo-fashion-store-about-02.png" class="animation-rotation">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pt-0">
    <div class="container">
        <div class="row"
             data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 500, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 200, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
            <div class="col-12 col-lg-5">
                <div class="alt-font text-dark-gray mb-15px fs-20">
                    <span class="text-highlight">
                       Our Catering Adventure!<span class="bg-base-color h-8px bottom-0px"></span>
                    </span>
                </div>
                <h2 class="alt-font text-dark-gray fw-400 ls-minus-1px">
                    The journey of <span class="fw-600">
                        OnlineCatering.in
                        lifestyle.
                    </span>
                </h2>
            </div>
            <div class="col-12 col-lg-6 offset-lg-1 last-paragraph-no-margin">
                <p>
                    OnlineCatering.in began with a vision to transform catering services, blending culinary excellence with convenience. Utilizing innovative technology, we swiftly expanded, offering diverse menus curated by top chefs through a user-friendly online platform. Our relentless commitment to excellence and customer satisfaction has made us a trusted partner for countless successful events.
                </p>
                <p>
                    From its inception, OnlineCatering.in aimed to revolutionize catering, merging culinary expertise with modern convenience. Through an intuitive online platform, we've curated diverse menus crafted by top chefs, expanding rapidly to meet the needs of our growing customer base. Our unwavering dedication to quality and customer satisfaction has established us as a leading provider in the catering industry.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="overflow-hidden position-relative p-0">
    <div class="container">
        <div class="absolute-middle-left w-100 h-2px bg-base-color"></div>
        <div class="row align-items-center">
            <div class="col-12 col-md-12 position-relative">
                <div class="outside-box-right-30"
                     data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateX&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 300, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <div class="swiper magic-cursor drag-cursor"
                         data-slider-options="{ &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 35, &quot;loop&quot;: false, &quot;autoplay&quot;: { &quot;delay&quot;: 2000, &quot;disableOnInteraction&quot;: false }, &quot;pagination&quot;: { &quot;el&quot;: &quot;.slider-four-slide-pagination-1&quot;, &quot;clickable&quot;: true, &quot;dynamicBullets&quot;: false }, &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;breakpoints&quot;: { &quot;992&quot;: { &quot;slidesPerView&quot;: 4 }, &quot;768&quot;: { &quot;slidesPerView&quot;: 3, &quot;spaceBetween&quot;: 45 }, &quot;320&quot;: { &quot;slidesPerView&quot;: 2 } }, &quot;effect&quot;: &quot;slide&quot; }">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/images/aboutjourney1.jpg" style="border-radius: 5px;" />
                            </div>


                            <div class="swiper-slide">
                                <img src="~/images/aboutjourney2.jpg" style="border-radius: 5px;" />
                            </div>


                            <div class="swiper-slide">
                                <img src="~/images/aboutjourney3.jpg" style="border-radius: 5px;" />
                            </div>


                            <div class="swiper-slide">
                                <img src="~/images/aboutjourney4.jpg" style="border-radius: 5px;" />
                            </div>


                            <div class="swiper-slide">
                                <img src="~/images/aboutjourney5.jpg" style="border-radius: 5px;" />
                            </div>


                            <div class="swiper-slide">
                                <img src="~/images/aboutjourney6.jpg" style="border-radius: 5px;" />
                            </div>


                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>


<section class="bg-gradient-top-very-light-gray overlap-height pb-4 sm-pb-50px">
    <div class="container overlap-gap-section">
        <div class="row mb-4 xs-mb-8">
            <div class="col-12 text-center">
                <h2 class="alt-font text-dark-gray mb-0 ls-minus-2px">
                    We care our <span class="text-highlight fw-600">
                        customers<span class="bg-base-color h-5px bottom-2px"></span>
                    </span>
                </h2>
            </div>
        </div>
        <div class="row row-cols-auto row-cols-lg-4 row-cols-sm-2 position-relative"
             data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateX&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:100, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

            <div class="col align-self-start">
                <div class="feature-box text-start ps-30px sm-ps-20px">
                    <div class="feature-box-icon position-absolute left-0px top-10px">
                        <h1 class="fs-100 opacity-1 fw-800 ls-minus-1px mb-0">01</h1>
                    </div>
                    <div class="feature-box-content last-paragraph-no-margin pt-30 lg-pt-60px sm-pt-40px">
                        <span class="text-dark-gray fs-19 d-inline-block fw-600 mb-5px">Crafting Memorable Experiences</span>
                        <p class="w-90 xl-w-95">
                            Elevating events with exceptional culinary creations and impeccable service.
                        </p>
                        <span class="w-60px h-2px bg-dark-gray mt-20px d-inline-block"></span>
                    </div>
                </div>
            </div>


            <div class="col align-self-end mt-30px">
                <div class="feature-box text-start ps-30px sm-ps-20px">
                    <div class="feature-box-icon position-absolute left-0px top-10px">
                        <h1 class="alt-font fs-90 opacity-1 fw-800 ls-minus-1px mb-0">02</h1>
                    </div>
                    <div class="feature-box-content last-paragraph-no-margin pt-30 lg-pt-60px sm-pt-40px">
                        <span class="text-dark-gray fs-19 d-inline-block fw-600 mb-5px">Culinary Excellence Redefined</span>
                        <p class="w-90 xl-w-95">
                            Where taste meets innovation, creating unforgettable gastronomic journeys.
                        </p>
                        <span class="w-60px h-2px bg-dark-gray mt-20px d-inline-block"></span>
                    </div>
                </div>
            </div>


            <div class="col align-self-start xs-mt-30px">
                <div class="feature-box text-start ps-30px sm-ps-20px">
                    <div class="feature-box-icon position-absolute left-0px top-10px">
                        <h1 class="alt-font fs-90 opacity-1 fw-800 ls-minus-1px mb-0">03</h1>
                    </div>
                    <div class="feature-box-content last-paragraph-no-margin pt-30 lg-pt-60px sm-pt-40px">
                        <span class="text-dark-gray fs-19 d-inline-block fw-600 mb-5px">Seamless Event Solutions</span>
                        <p class="w-90 xl-w-95">
                            Effortlessly planning and executing events with our intuitive online platform.
                        </p>
                        <span class="w-60px h-2px bg-dark-gray mt-20px d-inline-block"></span>
                    </div>
                </div>
            </div>


            <div class="col align-self-end mt-30px">
                <div class="feature-box text-start ps-30px sm-ps-20px">
                    <div class="feature-box-icon position-absolute left-0px top-10px">
                        <h1 class="alt-font fs-90 opacity-1 fw-800 ls-minus-1px mb-0">04</h1>
                    </div>
                    <div class="feature-box-content last-paragraph-no-margin pt-30 lg-pt-60px sm-pt-40px">
                        <span class="text-dark-gray fs-19 d-inline-block fw-600 mb-5px">Customer-Centric Approach</span>
                        <p class="w-90 xl-w-95">
                            Dedicated to exceeding expectations and ensuring every detail is perfect.
                        </p>
                        <span class="w-60px h-2px bg-dark-gray mt-20px d-inline-block"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center mb-10">
            <div class="col-lg-6 position-relative md-mb-70px">
                <div class="w-75 position-relative xs-w-80"
                     data-anime="{ &quot;effect&quot;: &quot;slide&quot;, &quot;direction&quot;: &quot;rl&quot;, &quot;color&quot;: &quot;#fee300&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 300 }">
                    <img class="w-100" src="~/images/aboutquality.jpg">
                    <div class="position-absolute right-minus-100px xs-right-minus-50px top-30px w-210px h-210px xs-w-130px xs-h-130px border-radius-100 lg-top-minus-10px md-top-60px sm-top-30px"
                         data-bottom-top="transform: translateY(30px)"
                         data-top-bottom="transform: translateY(-30px)">
                        <img src="~/images/demo-fashion-store-about-13.png"
                             class="position-absolute top-50 translate-middle-y" alt>
                        <img src="~/images/demo-fashion-store-about-12.png" class="animation-rotation" alt>
                    </div>
                </div>
                <div class="position-absolute right-minus-15px md-right-15px bottom-minus-30px w-55 md-w-50 overflow-hidden"
                     data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)"
                     data-anime="{ &quot;effect&quot;: &quot;slide&quot;, &quot;direction&quot;: &quot;lr&quot;, &quot;color&quot;: &quot;#fee300&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 1000 }">
                    <img class="w-100" src="~/images/aboutquality2.jpg" alt>
                </div>
            </div>
            <div class="col-12 col-lg-5 offset-lg-1">
                <div class="alt-font text-dark-gray mb-15px fs-20"
                     data-anime="{ &quot;translateX&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 400, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <span class="text-highlight">
                        Exemplary Cleaning Standards<span class="bg-base-color h-8px bottom-0px"></span>
                    </span>
                </div>
                <h2 class="alt-font text-dark-gray mb-20px fw-400 ls-minus-1px w-90 lg-fs-50 lg-w-100"
                    data-anime="{ &quot;translateX&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 400, &quot;delay&quot;: 200, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    Uncompromising <span class="fw-600">Cleanliness Standards.</span>
                </h2>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="accordion accordion-style-02" id="accordion-style-02"
                             data-active-icon="icon-feather-minus" data-inactive-icon="icon-feather-plus"
                             data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateX&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 400, &quot;delay&quot;: 500, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

                            <div class="accordion-item active-accordion">
                                <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                    <a href="~/#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01"
                                       aria-expanded="true" data-bs-parent="#accordion-style-02">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray">
                                            <i class="feather icon-feather-minus"></i><span class="fw-600 fs-19">Unparalleled Culinary Mastery</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-02-01" class="accordion-collapse collapse show"
                                     data-bs-parent="#accordion-style-02">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                        <p>
                                            Indulge in a symphony of flavors meticulously crafted by our seasoned chefs, promising a gastronomic experience like no other.
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item">
                                <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                    <a href="~/#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02"
                                       aria-expanded="false" data-bs-parent="#accordion-style-02">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray">
                                            <i class="feather icon-feather-plus"></i><span class="fw-600 fs-19">
                                                Premium Ingredients, Exquisite Taste
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-02-02" class="accordion-collapse collapse"
                                     data-bs-parent="#accordion-style-02">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                        <p>
                                            Sourcing only the finest ingredients, we deliver culinary delights that tantalize the taste buds and leave a lasting impression.
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item">
                                <div class="accordion-header border-bottom border-color-transparent">
                                    <a href="~/#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03"
                                       aria-expanded="false" data-bs-parent="#accordion-style-02">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray">
                                            <i class="feather icon-feather-plus"></i><span class="fw-600 fs-19">Impeccable Presentation, Unmatched Elegance</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-02-03" class="accordion-collapse collapse"
                                     data-bs-parent="#accordion-style-02">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                        <p>
                                            From elegant plating to exquisite table settings, our attention to detail ensures every dish is not only a feast for the palate but also a visual delight.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
