<div class="mainn">

    <div class="containerr">

        <div class="cardd ">


            <div class="logoo">
                <span class="circle circle1"></span>
                <span class="circle circle2"></span>
                <span class="circle circle3"></span>
                <span class="circle circle4"></span>
                <span class="circle circle5">
                    <i class="fa-solid fa-user"></i>
                </span>
            </div>

            <div class="glasss">
                <div class="contentt">
                    <h1 class="h1">Caterer Account:</h1>
                    <p class="p">Elevate your events with exquisite flavors and impeccable service – register now!</p>
                </div>

                <div class="footerr" style"margin-top:30px">
                    <div class="linkk">
                        <a asp-action="Signupcaterer" asp-controller="Home">Registration <i class="fa-solid fa-user-plus"></i></a>
                    </div>
                </div>

            </div>


        </div>


    </div>

    <div class="containerr">

        <div class="cardd ">


            <div class="logoo">
                <span class="circle circle1"></span>
                <span class="circle circle2"></span>
                <span class="circle circle3"></span>
                <span class="circle circle4"></span>
                <span class="circle circle5">
                    <i class="fa-solid fa-user"></i>
                </span>
            </div>

            <div class="glasss">
                <div class="contentt">
                    <h1 class="h1">Customer Account:</h1>
                    <p class="p">Indulge in a feast of flavors curated just for you – join our catering community today!</p>
                </div>

                <div class="footerr" style="margin-top:30px">
                    <div class="linkk">
                        <a asp-action="Signupcustomer" asp-controller="Home">Registration <i class="fa-solid fa-user-plus"></i></a>
                    </div>
                </div>

            </div>


        </div>


    </div>

</div>

